{% extends 'layouts/base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/expenses.css') }}">
{% endblock %}

{% block content %}
<div class="expenses-page container-fluid px-0">
    {% include 'components/expenses/header.html' %}
    <div class="row g-4">
        <div class="col-lg-4">
            {% include 'components/expenses/form.html' %}
        </div>
        <div class="col-lg-8">
            {% include 'components/expenses/list.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/expenses.js') }}"></script>
{% endblock %}
