{% extends 'layouts/base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/guests.css') }}">
{% endblock %}

{% block content %}
{% include 'components/guests/hero.html' %}
{% include 'components/guests/stats.html' %}
{% include 'components/guests/form_search.html' %}
{% include 'components/guests/tables.html' %}
{% include 'components/guests/modals.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/guests.js') }}"></script>
{% endblock %}
