{% extends 'layouts/base.html' %}

{% block content %}
{% include 'components/dashboard/hero.html' %}
{% include 'components/dashboard/cards.html' %}
{% include 'components/dashboard/charts.html' %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script id="chart-data" type="application/json">
{{ {
    "totalIncome": total_income|default(0),
    "totalExpense": total_expense|default(0),
    "expenseLabels": expense_labels,
    "expenseValues": expense_values,
    "coverageClamped": (150 if coverage_percent > 150 else coverage_percent),
    "coveragePercent": coverage_percent
}|tojson }}
</script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
{% endblock %}
